POST /v1/auth/register
body: fullName, email, password
status 201 409(conflict) 400

POST /v1/auth/login
Body: { "email": "string", "password": "string" }
Status 200 / 401


POST
/auth/forgot
Body
{email}

Res (status: 200, 401)
(redirect page)

POST /v1/auth/forgot-password
Body
{email}
response status 200 404

POST
/v1/auth/verify-code
Body
{email:'',code:''}
response 200:{resetToken:''}  400

/v1/auth/reset-password
Body
{
email:'',
resetToken
newPassword
}
status code  200 400


PUT v1/users/me  body: role, field, goal and other  status: 200

GET v1/users/me  status: 200  (GET v1/users/:id  status: 200)


POST  v1/users/:id/resumes body {fileKey, fileName} status: 201
POST  v1/resumes body {fileKey, fileName} status: 201
DELETE  v1/resumes/:id  status: 204

GET /v1/users/me  status: 200
PUT /v1/users/me/password
Body {
    currentPassword: '',
    newPassword: '',
}
(Status: 200, 400)


users
resume

user model
email, fullName, displayName, password, role, field, goal, avatar,
resetCode, resetToken, resetCodeExpiry, resetTokenExpiry
passwordHistory, userRole, deletedAt (soft delete)

resume model
fileKey
fileName
user

fileSize



jwt token
xyz1234
redis

